@import url('reset.css');

/* GLOBAL CLASSES */
body {
    color: #212121;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    padding: 18px 62px;
    text-decoration: none;
    color: #fff;
    background: #2196F3;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
}

/* HEADER */
.header {
    padding: 25px 0;
    font-family: 'Roboto';
    font-weight: 500;
}

.header a {
    text-decoration: none;
    color: #212121;
}

.header a:hover {
    color: #2196F3;
}

.header a.active {
    color: #2196F3;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 98px;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-contacts {
    margin-left: auto;
    display: flex;
    gap: 50px;
}

/* HERO */

.hero {
    height: 600px;
    background: #2F303A;
    color: #fff;
    display: flex;
    align-items: center;
}

.hero-container {
    text-align: center;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    width: 700px;
    margin-bottom: 30px;
}

.hero-btn {
    font-family: 'Roboto';
    font-weight: 700;
}
/* ABOUT */

.about {
    padding: 94px 0;
}

.about-cards {
    display: flex;
    gap: 30px;
}

.about-card {
    flex: 1 1 25%;
}

.about-card-title {
    font-family: 'Roboto';
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about-card-desc {
    font-family: 'Roboto';
    font-weight: 400;
    color: #757575;
    text-align: justify;
}

/* What we are doing section */
.activities {
    padding: 0 0 94px;
}

.do-title {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
}

.activity-images {
    display: flex;
    gap: 30px;
}

.do-card {
flex: 1 1 30%;
}

.do-card-img {
width: 100%;
height: 294px;
object-fit: cover;
}

/* Our team section */
.team {
    background-color: #F5F4FA;
    padding: 94px 0;
}

.team-title {
        margin-bottom: 50px;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
}

.team-members {
    display: flex;
}

.member div {
    padding: 24px;
}

.member {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 20%;
    gap: 30px;
}

.member img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.member h4 {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        margin: 0 0 18;
}

.member p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    }

/* Footer */
footer {
    background-color: #2F303A;
    color: #FFFFFF;
    padding: 60px 0;
}

.footer-content-container {
    display: flex;
    flex-flow: column;
    gap: 20px;
    margin-left: 0 auto;
}

a {
    align-self: flex-start;
}

img {
    width: 145px;
}

a, p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
}