@import url('reset.css');

/* GLOBAL CLASSES */
body {
    color: #212121;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    padding: 18px 62px;
    text-decoration: none;
    color: #fff;
    background: #2196F3;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
}

/* HEADER */
.header {
    padding: 25px 0;
    font-family: 'Roboto';
    font-weight: 500;
}

.header a {
    text-decoration: none;
    color: #212121;
}

.header a:hover {
    color: #2196F3;
}

.header a.active {
    color: #2196F3;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 98px;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-contacts {
    margin-left: auto;
    display: flex;
    gap: 50px;
}

.menu-item {
    position: relative;
}

.menu-item > a {
    display: block;
    background-color: #3498db;
    color: white;
    font-size: 16px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.submenu li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: #ddd;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu-item-4 {
    position: relative;
}

.submenu-item-4:hover .submenu-left {
    display: block;
}

.submenu-left {
    display: none;
    position: absolute;
    top: 0;
    left: -160px;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.submenu-left li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}


/* HERO */

.hero {
    height: 600px;
    background: #2F303A;
    color: #fff;
    display: flex;
    align-items: center;
}

.hero-container {
    text-align: center;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    width: 700px;
    margin-bottom: 30px;
}

.hero-btn {
    font-family: 'Roboto';
    font-weight: 700;
}
/* ABOUT */

.about {
    padding: 94px 0;
}

.about-cards {
    display: flex;
    gap: 30px;
}

.about-card {
    flex: 1 1 25%;
}

.about-card-title {
    font-family: 'Roboto';
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about-card-desc {
    font-family: 'Roboto';
    font-weight: 400;
    color: #757575;
    text-align: justify;
}

/* What we are doing section */
.activities {
    padding: 0 0 94px;
}

.do-title {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
}

.activity-images {
    display: flex;
    gap: 30px;
}

.do-card {
flex: 1 1 30%;
}

.do-card-img {
width: 100%;
height: 294px;
object-fit: cover;
}

/* Our team section */
.team {
    background-color: #F5F4FA;
    padding: 94px 0;
}

.team-title {
        margin-bottom: 50px;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
}

.team-members {
    display: flex;
}

.member div {
    padding: 24px;
}

.member {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 20%;
    gap: 20px;
}

.member img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.member h4 {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        margin: 0 0 18;
}

.member p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    }

/* Footer */
footer {
    background-color: #2F303A;
    color: #FFFFFF;
    padding: 25px 0;
}

.footer-content-container {
    display: flex;
    flex-flow: column;
    gap: 20px;
    max-width: 1170px;
    margin: 40px auto;
}

a {
    align-self: flex-start;
}

img {
    width: 145px;
}

a, p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    gap: 20px;
}

/*second page*/

.main-portfolio {
    max-width: 1170px;
    margin: 40px auto;
    padding: 0 15px;
}

.menu-container {
    text-align: center;
}

.menu-btn {
    display: inline-block;
    padding: 18px 62px;
    text-decoration: none;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
}

.all {
    display: inline-block;
    padding: 18px 62px;
    text-decoration: none;
    color: #fff;
    background: #2196F3;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
}

/*portfolio cards*/

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    position: relative;
}

.portfolio-img img {
    display: block;
    width: 100%;
    height: auto;
}

.card-text {
    padding: 10px;
}

h4 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
}

p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}

.cards-title {
    height: 294px;
    background: rgba(33, 150, 243, 0.898);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
}

.card:hover .cards-title {
    opacity: 1;
}